<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1 style="color: pink">I don't know nuffin</h1>
    <nav>
      <a href="views/about.html">about</a>
      <a href="views/contact.html">contact</a>
      <a href="views/product.html">product</a>
      <a href="views/sub.html">subscribe</a>
      <a href="views/woah.html">woah</a>
    </nav>
  </body>
</html>
